CONFIG_ER_SHT3X_ADDR_45=y
CONFIG_ER_WIFI_SSID="SSID"
CONFIG_ER_WIFI_PWD="PASSWORD"
CONFIG_ER_SNTP_SERVER="pool.ntp.org"
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
# CONFIG_BT_NIMBLE_ROLE_CENTRAL is not set
# CONFIG_BT_NIMBLE_ROLE_PERIPHERAL is not set
# CONFIG_BT_NIMBLE_ROLE_OBSERVER is not set
